body {
  background-color: #FF7B00;
}

header {
  font-family: arial;
  color: #FFDD00;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.image-container img {
  width: 45%;
  height: auto;
}